@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Register for CryptoMaster</h1>

<form asp-action="RegisterUser" method="post">
    <div class="form-group">
        <input type="text" class="form-control" id="Name" name="Name" placeholder="UserName"/>
        <input type="text" class="form-control" id="Email" name="Email" placeholder="Email" /> 
        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" /> 
        <input type="text" class="form-control" id="BSCAddress" name="BSCAddress" placeholder="Your BSC address" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div style="height:10px"></div>
<a href="Login" class="btn btn-primary">Login</a>