@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Features of CryptoMaster</h1>

    <ul>
        <li>View top 100 coin prices</li>
        <li>View BNB portfolio</li>
    </ul>
</div>
